body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.usuari-btn {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    display: inline-block;
}

.imgusuari{
    width:22px;
}


.cap {
    display: flex;
    justify-content: space-between; /* Pushes elements to the edges */
    align-items: center; /* Aligns items vertically at the same level */
    padding: 0 15px; /* Optional: Adds horizontal padding for spacing */
}


.linia-div{
    height: 1px;
    background-color: black;
    margin: 10px 0;
    flex-basis: 100%;
}

.resolve{
    display: flex;
    flex-direction: column;
    margin: 10px ;
}

.resolve-titol{
    display:flex;
    font-weight: bold;
    font-size: x-large;
}

.resolve-cont{
    background-color: lightgray;
    margin-top: 10px;
    border-radius: 5px;
}

.observacions{
    display: flex;
    flex-direction: column;
    margin: 10px ;
}

.obs-titol{
    display:flex;
    font-weight: bold;
    font-size: x-large;
}

.obs-cont{
    background-color: lightgray;
    margin-top: 10px;
    border-radius: 5px;
}

