body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: white;
    align-content: center;
}

.linia-div{
    height: 1px;
    background-color: black;
    margin: 10px 0;
    flex-basis: 100%;
}

.usuari-btn {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    display: inline-block;
}

.imgusuari{
    width:22px;
}

.cap {
    display: flex;
    justify-content: space-between; /* Pushes elements to the edges */
    align-items: center; /* Aligns items vertically at the same level */
    padding: 0 15px; /* Optional: Adds horizontal padding for spacing */
}

.simptomes{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.simptomes-titol{
    display:flex;
    padding: 0 15px;
    font-weight: bold;
    font-size: xx-large;
}

.simptomes-comuns-titol{
    display:flex;
    font-weight: bold;
    font-size: x-large;  
}

.simptomes-comuns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.btn-ofg{
    border-radius: 5px;
    width: 50%;
    
}

.simptomes-actuals{
    display:flex;
    padding: 0 15px;
    font-weight: bold;
    font-size: x-large;  
}

